<md-toolbar ng-class="mensagem.classe">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">{{mensagem.texto}}</h2>
  </div>
</md-toolbar>

<md-tabs md-dynamic-height md-border-bottom md-selected="tabs.selectedIndex">
  <md-tab label="Consulta">
    <md-content>

        <md-list ng-cloak="" class="" >
          <md-subheader class="md-no-sticky">Selecione um registro</md-subheader>

            <md-list-item class="secondary-button-padding" ng-click="selecionarItemCadastro(item)" ng-repeat="item in lista">
              <p>{{item.nome}} - {{item.descricao | limitTo:100}}</p>
              <md-button class="md-secondary" ng-click="removerItemCadastro(item, $event)" aria-label="Remover"><md-icon class="md-48">delete_forever</md-icon></md-button>
            </md-list-item>

            <md-list-item ng-show="!lista.length">
              <p>Nenhum registro encontrado.</p>
            </md-list-item>

          </md-list>

    </md-content>
  </md-tab>

  <md-tab label="Cadastro">
    <md-content>
    
      <div layout="column" ng-cloak class="md-inline-form">

        <md-content layout-padding>
          <div>
            <form name="form" ng-submit="salvar()">

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nome</label>
                  <input ng-model="itemSelecionado.nome" required>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Rota</label>
                  <input ng-model="itemSelecionado.rota" required>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Sistema</label>
                  <input ng-model="itemSelecionado.sistema">
                </md-input-container>
              </div>

              <md-input-container class="md-block">
                <label>Icone</label>
                <input ng-model="itemSelecionado.icon">
              </md-input-container>

              <md-input-container class="md-block">
                <label>Descrição</label>
                <textarea ng-model="itemSelecionado.descricao" md-maxlength="350" rows="5" cols="5"></textarea>
              </md-input-container>


              <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Gravar</md-button>

            </form>
          </div>
        </md-content>

      </div>

    </md-content>
  </md-tab>

</md-tabs>

<md-divider></md-divider>
