
  <!--breadcrumbs start-->
  <div id="breadcrumbs-wrapper" class=" grey lighten-3">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <h5 class="breadcrumbs-title"><%= generatorModel %></h5>
          <ol class="breadcrumb">
            <li><a ng-href="#/">Dashboard</a>
            </li>
            <li><a ng-href="#/<%= generatorName %>"><%= generatorModel %></a>
            </li>
            <li class="active">Editar</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--breadcrumbs end-->

<!--start container-->
<div class="container">
  <div class="section">
    
    <p class="badge" ng-show="mensagem.texto">
      Aviso: {{mensagem.texto}} <br />
      <span ng-show="mensagem.error">
      Código: {{mensagem.error.data.code}} <br />
      </span>
    </p>

    <p class="caption">Incluir um novo registro.</p>

    <div class="divider"></div>

      <div id="basic-form" class="section">
        <div class="row">
          <div class="col s11 m11 l11">
            <div class="card-panel">
              <h4 class="header2">Novo</h4>
              <div class="row">
               
                <form class="col s12">
                  
                  <div class="row">
                    <div class="col s12">
                      <input id="nome" type="text" ng-model="<%= generatorName %>.nome">
                      <label for="nome" class="">Nome</label>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col s12">
                      <textarea id="descricao" class="materialize-textarea" ng-model="<%= generatorName %>.descricao"></textarea>
                      <label for="descricao">Descrição</label>
                    </div>
                    
                    <div class="row">
                      <div class="input-field col s12">
                        <button class="btn cyan waves-effect waves-light right" name="action" ng-click="salvar();">Gravar
                          <i class="mdi-navigation-check"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>

    <!-- Floating Action Button -->
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a ng-href="#/<%= generatorName %>" class="btn-floating btn-large blue waves-effect waves-block waves-light">
        <i class="large mdi-navigation-arrow-back"></i>
      </a>      
    </div>
  <!-- Floating Action Button -->
