<md-toolbar ng-class="data.mensagem.classe">
  <div class="md-toolbar-tools md-whiteframe-z2" >
    <h2 class="md-flex">{{data.mensagem.texto}}</h2>
  </div>
</md-toolbar>

<md-tabs md-dynamic-height md-border-bottom md-selected="tabs.selectedIndex" >
  <md-tab label="Consulta">
    <md-content>

        <md-list ng-cloak="" class="" >
          <md-subheader class="md-no-sticky">Selecione um registro</md-subheader>

            <md-list-item class="secondary-button-padding" ng-click="selecionarItemCadastro(item)" ng-repeat="item in data.result">
              <p>{{item.nome}} - {{item.email | limitTo:100}}</p>
              <md-button class="md-secondary" ng-click="removerItemCadastro(item, $event)" aria-label="Remover"><md-icon class="md-48">delete_forever</md-icon></md-button>
            </md-list-item>

            <md-list-item ng-show="!data.result.length">
              <p>Nenhum registro encontrado.</p>
            </md-list-item>

          </md-list>

    </md-content>
  </md-tab>

  <md-tab label="Cadastro">
    <md-content>

      <div layout="column" ng-cloak class="md-inline-form">

        <md-content layout-padding>
          <div>
            <form name="form" ng-submit="salvar()">

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nome</label>
                  <input ng-model="data.itemSelecionado.nome" required>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Senha</label>
                  <input ng-model="data.itemSelecionado.senha" type="password">
                </md-input-container>
              </div>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input ng-model="data.itemSelecionado.email" type="email">
              </md-input-container>

              <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Gravar</md-button>

            </form>
          </div>
        </md-content>

      </div>

    </md-content>
  </md-tab>

</md-tabs>

<md-divider></md-divider>
