<!DOCTYPE html>
<html lang="en" ng-app="coreApp" ng-controller="appCtrl">


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Painel IASK">
  <meta name="keywords" content="iask">
  <title>{{painel.titulo}}</title>

  <!-- Favicons-->
  <link rel="icon" href="./static/images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="./static/images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="./static/images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  <link href="app.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="style.min.css" type="text/css" rel="stylesheet" media="screen,projection">


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="vendor/material-preloader/css/materialPreloader.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- CSS LOAGIND BAR -->
  <link rel='stylesheet' href='vendor/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />

  <!-- angular-ui -->
  <link href="vendor/angular-ui/build/angular-ui.min.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- codemirror -->
  <link href="vendor/codemirror/lib/codemirror.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="vendor/codemirror/theme/monokai.css" type="text/css" rel="stylesheet" media="screen,projection">

</head>

<body>

<!-- Start Page Loading -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->

<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="cyan">
      <div class="nav-wrapper">
        <h1 class="logo-wrapper"><a href="#/" class="brand-logo darken-1"><img src="./static/images/materialize-logo.png" alt="logo" width="140px"></a> <span class="logo-text">Compendium</span></h1>
        <ul class="right hide-on-med-and-down">
          <li class="search-out">
            <input id="search-field" type="text" class="search-out-text">
          </li>
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search"><i class="mdi-action-search"></i></a>
          </li>
          <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
          </li>
          <!-- <li><a ng-href="#/projeto" class="waves-effect waves-block waves-light"><i class="mdi-communication-chat"></i></a></li> -->
          <!-- <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-social-notifications"></i></a></li> -->
          
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

  
<!-- START MAIN -->
<div id="">
  <!-- START WRAPPER -->
  <div class="wrapper">

    <!-- START CONTENT -->
    <section id="content">

      <!--start container-->
      <div class="container">

        <div ng-view></div>

      </div>
      <!--end container-->
    </section>
    <!-- END CONTENT -->

  </div>
</div>


<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START FOOTER -->
<footer class="page-footer">
  <div class="container">
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2016 <a class="grey-text text-lighten-4" href="" target="_blank">IASK</a> Todos os direitos reservados
      <span class="right">Desenvolvido por <a class="grey-text text-lighten-4" href="http://iask.koding.io/">IASK</a></span>
    </div>
  </div>
</footer>
<!-- END FOOTER -->


<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- jQuery Library -->
<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>

<!--materialize js-->
<script type="text/javascript" src="vendor/materialize/dist/js/materialize.min.js"></script>

<!--scrollbar-->
<script type="text/javascript" src="vendor/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="vendor/material-preloader/js/materialPreloader.min.js"></script>

<!-- codemirror -->
<script type="text/javascript" src="vendor/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="vendor/codemirror/mode/pascal/pascal.js"></script>


<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular-route/angular-route.min.js"></script>
<script src="vendor/angular-resource/angular-resource.min.js"></script>
<script src='vendor/angular-loading-bar/build/loading-bar.min.js' type='text/javascript'></script>
<script src="vendor/angular-ui/build/angular-ui.min.js" type="text/javascript" ></script>
<script src="vendor/ui-codemirror/src/ui-codemirror.js" type="text/javascript" ></script>

<!-- ngstorage -->
<script type="text/javascript" src="vendor/ngstorage/ngStorage.min.js"></script>

<script src="main.min.js" type="text/javascript"></script>


<!-- Toast Notification 
 <script type="text/javascript">
  // Toast Notification
  //    $(window).load(function() {
  //      setTimeout(function() {
  //        Materialize.toast('<span>Aviso.</span>', 1500);
  //      }, 1500);
  //      setTimeout(function() {
  //        Materialize.toast('<span>Arraste para ocultar!</span>', 3000);
  //      }, 5000);
  //      setTimeout(function() {
  //        Materialize.toast('<span>Nova mensagem.</span><a class="btn-flat yellow-text" href="#">LER<a>', 3000);
  //      }, 15000);
  //    });

// </script>
-->

</body>
</html>
