<!DOCTYPE html>
<html lang="en" ng-app="coreApp" ng-controller="appCtrl">
  <head>
    <title>IASK</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="vendor/angular-material/angular-material.min.css"/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- CSS LOAGIND BAR -->
    <link rel='stylesheet' href='vendor/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="app.min.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body layout="column" ng-cloak >
    
    <!--<loading-overlay-indicator></loading-overlay-indicator>-->

    <!-- toolbar principal -->
    <md-toolbar ng-if="loginData.bAutenticado" ng-clock class="md-whiteframe-z2">
      <div class="md-toolbar-tools" ng-show="listaMenu">
        <md-button class="md-icon-button" hide-gt-sm ng-click="toggleMenu()" aria-label="Menu">
          <md-icon>menu</md-icon>
        </md-button>

        <md-button aria-label="Item do menu" ng-show="menuSelecionado"><h3>{{menuSelecionado.name}}</h3></md-button>

        <span flex></span>

        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon style="color: greenyellow;">build</md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="More">
          <md-icon>face</md-icon>
        </md-button>

      </div>
    </md-toolbar>


    <div flex layout="row" tabIndex="-1" role="main">

      <!-- navegação lateral esquerda  -->
      <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
          md-component-id="left"
          aria-label="Menu"
          ng-click="toggleMenu()"
          md-is-locked-open="$mdMedia('gt-sm')"
          ng-if="loginData.bAutenticado" ng-clock>

        <!-- lista de itens da navegação -->
        <md-list>
          <md-list-item ng-repeat="menu in listaMenu">
              <md-button ng-click="selecionarItemMenu(menu)" ng-class="{'selected' : menu === menuSelecionado }">
                <md-icon class="material-icons md-48">{{menu.icon}}</md-icon>
                {{menu.nome}}
              </md-button>
          </md-list-item>
        </md-list>
      </md-sidenav>

      <div flex layout="column">
        <!-- conteudo do layout -->

        <md-content flex ng-view></md-content>
      </div>

    </div>


    <!-- angular core  -->
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="vendor/angular-material/angular-material.js"></script>
    <!-- angular routes  -->
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/angular-resource/angular-resource.min.js"></script>
    <!-- angular addons -->
    <script src='vendor/angular-loading-bar/build/loading-bar.min.js' type='text/javascript'></script>

    <!-- core app -->
    <script type="text/javascript" src="main.min.js"></script>
  </body>
</html>
